
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #e5ddd5;
        }

        .chat {
            display: flex;
            height: 100vh;
            width: 100%;
        }

        .sidebar {
            width: 30%;
            background-color: #f6f6f6;
            border-right: 1px solid #ddd;
            display: flex;
            flex-direction: column;
        }

        .sidebar-header {
            padding: 20px;
            background-color: #075e54;
            color: white;
            text-align: center;
        }

        .contact-list {
            list-style: none;
            overflow-y: auto;
            height: calc(100vh - 60px);
        }

        .contact {
            padding: 15px;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-bottom: 1px solid #ddd;
            transition: background-color 0.3s ease;
        }

        .contact:hover,
        .contact.active {
            background-color: #ebebeb;
        }

        .contact img {
            border-radius: 50%;
            margin-right: 10px;
        }

        .contact-info h4 {
            margin: 0 0 5px;
            font-size: 16px;
        }

        .contact-info p {
            margin: 0;
            color: #999;
        }

        .chat-window {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .chat-header {
            padding: 25px;
            background-color: #2F2F2F;
            color: white;
            text-align: center;
        }


        .chat-body {
            flex-grow: 1;
            padding: 20px;
            overflow-y: auto;
            background-color: #efeae2;
            display: flex;
            flex-direction: column;
        }

        .message {
            margin-bottom: 15px;
            max-width: 50%;
            padding: 10px 15px;
            border-radius: 20px;
            color: white;
        }

        .message.sent {
            background-color: #6d746c;
            color: white;
            align-self: start;
            line-height: 30px;
            
        }

        .message.received {
            background-color: #2F2F2F;
            color: white;
            align-self: flex-end;
            line-height: 30px;
        }

        .chat-footer {
            padding: 10px;
            background-color: #f6f6f6;
            display: flex;
            align-items: center;
        }

        .chat-footer input {
            flex-grow: 1;
            padding: 10px;
            border: none;
            border-radius: 30px;
            outline: none;
        }

        .chat-footer button {
            background-color: #2F2F2F;
            color: white;
            border: none;
            padding: 10px 15px;
            margin-left: 10px;
            border-radius: 30px;
            cursor: pointer;
        }
